{% extends 'base.html' %}

{% block title %}Medical Center{% endblock %}

{% block content %}
            <div class="info-body create">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Diagnosis</h1>
                </div>

                <h3>Prediction:</h3>
                <div class="pred-block">
                    <strong>{{ prediction }}</strong>(probability: {{ probability }}%).
                </div>
                <div class="col-lg-6 col-lg-push-5">
                <a href="{{ url_for('index') }}"><input type="submit" value="Back to main page"></a>
                </div>
            </div>
{% endblock %}